<div class="shopping-list-container">
    <div class="item-form-field">
        <h4 id="add-item-label">Add shopping item:</h4>

        <div>
            <mat-form-field class="item-form">
                <input matInput id="add-item-input" placeholder="Enter item name" type="text" maxlength="200" [(ngModel)]="shoppingItem">
                <mat-hint id="input-error" class="mat-error" *ngIf="error">{{error}}</mat-hint>
            </mat-form-field>
        </div>

        <button mat-raised-button id="add-item-button" class="add-button" (click)="addItem(shoppingItem)" [disabled]="!shoppingItem">
            Add Item
        </button>
    </div>

    <div class="empty-list" *ngIf="shoppingList?.length === 0">
        No items in list.
    </div>

    <div class="list-container" *ngIf="shoppingList">
        <mat-list>
            <mat-list-item *ngFor="let item of shoppingList" class="list-item">
                <div class="shopping-item">
                    <span>{{item.itemName}}</span>
                    <button mat-raised-button id="delete-item-button" class="delete-button" (click)="deleteItem(item)">
                        Delete
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>