.shopping-list-container {
    margin: 50px auto;

    .item-form-field {

        .item-form {
            width: 200px;
            padding-bottom: 5px;

            .mat-error {
                font-size: 10px;
                white-space: nowrap;
            }
        }
    }

    .empty-list {
        margin-top: 10px;
        font-size: 14px;
    }

    .list-container {
        padding: 0px 0px;

        .list-item {
            margin: 0 auto;
            display: inline;

            .shopping-item {
                display: flex;
                justify-content: space-between;
            }

            .delete-button {
                background-color: grey;
                color: white;
                width: 15px;
                height: 25px;
            }
        }
    }
}